
<%= flash[:message] %>

<div class="position-absolute top-50 start-50 translate-middle">
    <div id = "main" class = "welcome">
        Welcome to <br>
        <span id = "chatapp">ChatApp</span>
        <span id = "twentyone">21</span>
    </div>
</div>