<!-- <div class="d-flex align-items-start">
	<div class="image_outer_container">
		<div class="green_icon"></div>
			<div class="image_inner_container"> -->
                <!-- <div class="avatar-left">
					<%= avatar_for(current_user, size:30) %>
                </div> -->
                <div class="info-right">
                    <%= tag.li user.username, data: { id: user.id } %>
                </div>
			<!-- </div>
		</div>
	</div>
</div>
 -->

