<h1>Profile</h1>
<p>Username: <%= Current.user.username %></p>
<p>Email: <%= Current.user.email %></p>
<%= image_tag Current.user.avatar.url(:thumb) if Current.user.avatar?%>
<%= link_to "Edit", edit_user_path(@user) %>

