<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Chatapp21", root_path, class: "nav-link active" %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <% if Current.user %>
        <li class="nav-item">
          <%# <%= link_to Current.user.email, edit_password_path, class: "nav-link" %> %>
          <%= button_to "Logout", logout_path, method: :get, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
            <%= button_to "Log in with Google", '/auth/google_oauth2', class: "btn btn-primary" %>
        </li>
      <% end %>
    </div>
</nav>