@font-face{
    font-family: 'DotGothic';
    src: url('./fonts/DotGothic16-Regular.ttf');
}

@font-face{
    font-family: 'Lobster';
    src: url("./fonts/Lobster-Regular.ttf");
}

@font-face{
    font-family: 'ReggaeOne';
    src: url('./fonts/ReggaeOne-Regular.ttf');
}

@font-face{
    font-family: 'Nunito Sans';
    src: url('./fonts/NunitoSans-Regular');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans, sans-serif;
  }

#main{
    font-size: 10vh;
}

#welcome-to {
    font-family: Nunito Sans, sans-serif;
}
#main_body{
    background-color: #a2d0c1;
}

#chatapp{
    font-family: Lobster, sans-serif;
    font-size: 10vh;
}

#twentyone{
    font-family: DotGothic, sans-serif;
    color: orange;
    font-size: 10vh;
}

.navbar {
    margin-top: 0;
}
.navbar-brand {
    font-family: Lobster, sans-serif;
}

h1 {
    text-align: center;
}

.log-in {
    padding: 20px 30px;
}

.link {
    text-decoration: none;
    color: #797979;
}

#login{
    background-color: #71A894 !important;
    border-color:  #71A894 !important;
    margin-right: 10px;
}

#left {
    padding: 70px;
}

/* .bg-grey {
    background-color: #2C2F33 !important;
} */

#point {
    color: #858585;
}

#new-link{
    text-decoration: none;
    color: black;
}