.container-lg {
<<<<<<< HEAD
    margin: 0 auto;
    background-color: #f6f6f6;
    padding: 20px;
=======
    background-color: white;
>>>>>>> profile
}

.avatar-image {
    border-radius: 50%;
}

.dropdown-menu {
    min-width: 4rem;
}
