// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chat-room {
    background-color: cornsilk;
    height: 90vh;
    overflow-y: scroll;
}

.message .content {
    background-color: #eeeeee;
    padding: 8px;
    border-radius: 10px;
}