.container-fluid {
    width: 100% !important;
}

.chat-room {
    background-color: #ffe6ca;
    background-color: white;
    height: 92vh;
    overflow-y: scroll;

    #messages {
        padding-bottom: 80px;
    }
}

.message {
    min-height: 15px;
    height: calc(100% - 0px);
    &.me {
        .message-content {
            float: right;
        }
        .content {
            background-color:#7289DA;
            color: white;
        }
    }
}

.message .message-content {
    display: inline-block;
}

.message .avatar {
    float: left;
}

.message .username {
    font-size: 0.8rem;
    color: #5b5b5b;
    margin-left: 10px;
}
.message .content {
    background-color: #eeeeee;
    padding: 6px 10px;
    border-radius: 17px;
}

.card .no-outline {
    border: none;
}

.room-link:link {
    text-decoration: none;
    color: #5b5b5b;
}
.room-link {
    &:hover{
        text-decoration: none;
    }
    .room-card {
        transition: background-color 0.5s ease;
        border-radius: 5px;
        &:hover {
            background-color: #fbe6c2;
        }
        &:active {
            background-color: black;
            .name {
                color: white;
            }
        }
        .name {
            font-weight: bold;
            color: black;
            text-decoration: none !important;
        }
    }
}

.respond-box {
    position: absolute;
    bottom: 20px;
    width: 55% !important;
}

.vertical-sidebar {
    border-right: 1px solid #eeeeee;
}
