// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-fluid {
    width: 100% !important;
}
.chat-room {
    background-color: white;
    height: 90vh;
    overflow-y: scroll;
    padding: 40px;
}

.message {
    min-height: 20px;
    &.me {
        .message-content {
            float: right;
        }
        .content {
            background-color:#7289DA;
            color: white;
        }
    }
}

.message .message-content {
    display: inline-block;
}

.message .username {
    font-size: 0.8rem;
    // color: #eeeeee;
    margin-left: 10px;
}
.message .content {
    background-color: #eeeeee;
    padding: 6px 10px;
    border-radius: 17px;
}

.card .no-outline {
    border: none;
}

.room-link:link {
    text-decoration: none;
}
.room-link {
    &:hover{
        text-decoration: none;
    }
    .room-card {
        transition: background-color 0.5s ease;
        border-radius: 5px;
        &:hover {
            background-color: #eeeeee;
        }
        &:active {
            background-color: black;
            .name {
                color: white;
            }
            .member-count {
                color: #e0e0e0;
            }
        }
        .name {
            font-weight: bold;
            color: black;
            text-decoration: none !important;
        }
        .member-count {
            color: #777777;
            font-weight: light;
        }
    }
}